<button type="button" class="btn" routerLink="../addOwner">Add RestaurantOwner</button>
<button type="button" routerLink="../addItem" class="btn">Add Item</button>
<button type="button" class="btn" routerLink="../addRestaurant">Add Restaurant</button>
<div *ngIf="msg">
  <h3>{{msg}}</h3>
</div>
<div *ngIf="show === 'owner'">
  <form #addOwner="ngForm" (ngSubmit)="addRestaurantOwner(addOwner.value)">
    <label for="username">Username:</label>
    <input type="text" name="username" ngModel>
    <br/>
    <label for="password">Password:</label>
    <input type="password" name="password" ngModel>
    <label for="name">Name:</label>
    <input type="text" name="name" ngModel>
    <br/>
    <label for="address">Address:</label>
    <input type="text" name="address" ngModel>
    <br/>
    <button type="submit" class="btn">Add</button>
  </form>
</div>

<div *ngIf="show === 'item'">
  <form #Item="ngForm" (ngSubmit)="addItem(Item.value)">
    <label for="itemType">Type:</label>
    <select name="itemType" ngModel>
      <option value="recipeItem" name="">Recipe</option>
      <option value="drinkItem" name="">Drink</option>
      <option value="sideItem" name="">Side</option>
    </select>
    <br/>
    <label for="name">Name:</label>
    <input type="text" name="name" ngModel>
    <br/>
    <label for="price">Price:</label>
    <input type="number" name="price" step="any" ngModel>
    <br/>
    <label for="calories">Calories:</label>
    <input type="number" name="calories" ngModel>
    <br/>
    <button type="submit" class="btn">Add</button>
  </form>
</div>
<div *ngIf="show === 'restaurant'">
  <form #Restaurant="ngForm" (ngSubmit)="addRestaurant(Restaurant.value)">
    <label for="name">Name:</label>
    <input type="text" name="name" ngModel>
    <br/>
    <label for="address">Address:</label>
    <input type="text" name="address" ngModel>
    <br/>
    <label for="owner">Owner:</label>
    <select name="owner" ngModel>
      <option *ngFor="let owner of owners" [ngValue]="owner">{{owner.name}}</option>
    </select>
    <br/>
    <button type="submit" class="btn">Add</button>
  </form>
</div>
<a routerLink="/logout">Logout</a>