<button type="button" class="btn" routerLink="../addItemRestaurant">Add Items To Restaurant</button>
<button type="button" class="btn" routerLink="../addDealRestaurant">Add Deals to Restaurant</button>
<div *ngIf="msg">
  <h3>{{msg}}</h3>
</div>
<div *ngIf="show === 'item'">
  <select name="itemType" #itemType (change)="loadItems(itemType.value)" class="form-control">
    <option value="RecipeItem">Recipe</option>
    <option value="DrinkItem">Drink</option>
    <option value="SideItem">Side</option>
  </select>
  <div *ngFor="let item of items">
    <form (ngSubmit)="addItemToRestaurant(Item.value)" #Item="ngForm">
      <input type="hidden" name="id" value="item.id" [(ngModel)]="item.id">
      <h2>{{item.name}}</h2>
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
</div>

<div *ngIf="show === 'deal'">
  <select name="dealType" #dealType (change)="loadDeals(dealType.value)" class="form-control">
    <option value="amountDiscountDeal">AmountDiscount</option>
    <option value="mealDiscountDeal">MealDiscount</option>
  </select>
  <div *ngIf="deal === 'amt'">
    <form (ngSubmit)="addAmtDealToRestaurant(ADeal.value)" #ADeal="ngForm">
      <label for="eligibilityAmount">Eligibility Amount:</label>
      <input type="number" step="2" name="eligibilityAmount" class="form-control" ngModel>
      <br/>
      <label for="discountAmount">Discount Amount:</label>
      <input type="number" step="2" name="discountAmount" class="form-control" ngModel>
      <br/>
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
  <div *ngIf="deal === 'meal'">
    <form (ngSubmit)="addMealDealToRestaurant(MDeal.value)" #MDeal="ngForm">
      <label for="discountAmount">Discount Amount:</label>
      <input type="number" step="2" name="discountAmount" class="form-control" ngModel>
      <br/>
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
</div>
<a routerLink="/logout">Logout</a>